@charset "UTF-8";
header{width: 100%;border-bottom: 1px solid #e6eaed;}
.header_top{height: 64px;display: flex;justify-content: space-between;width: 1020px;margin: 0 auto;}
h1 a{width: 174px;height: 64px;}
h1 a img{padding: 25px 0;}

.login_area{display: flex; align-items: center;line-height: 64px;}
.login_area .name{font-size: 12px; cursor: pointer;}
.login_area .name:hover{color: #4eb9c1; text-decoration: underline;}
.login_area .logout{background: url(../images/logout.jpg) no-repeat; width: 22px;height: 23px; margin-left: 12px; cursor: pointer; transition: all .3s;}
.login_area .logout:hover{background: url(../images/logout_hover.jpg) no-repeat;}

.main_title{font-size: 24px; font-weight: 400;line-height: 24px;}
.sub_title{font-size: 16px;color: #2a2a2c;line-height: 16px;}
.sub_top{display: flex;justify-content: space-between;}

/* gnb_area */
#gnb_tabs{position: relative;}
#gnb_tabs .gnb_list_wrap{background: #1a2c52;}
#gnb_tabs .gnb_list_wrap .gnb_list{overflow: hidden; width: 1020px;margin: 0 auto;}
.gnb_list{  display: flex;}
.gnb_list li{width: 140px;height: 50px; text-align:center; overflow: hidden;position: relative;}
.gnb_list li a{color: #fff; display: block;line-height: 50px; font-size: 12px; letter-spacing: -.54px;padding: 0 10px;}
.gnb_list li a.on{background: #4eb9c1;}
.gnb_list li a:hover{background: #4eb9c1;}

.depth2{display: flex; width: 100%;height: 39px;line-height: 39px;}
.depth2 li:after{content: '|'; margin: 0 18px 0 15px;}
.depth2 li a{color: #6a696f; font-size: 12px;}
.depth2 li a:hover{color: #4eb9c1; text-decoration: underline;}

.info_wrap{background: #f3f3f3;}
.info_wrap h2{width: 1020px; margin: 0px auto;padding: 30px 0 20px;}
.info_wrap .tabs{display: flex;flex-wrap: wrap;width: 1020px;margin: 0 auto;}

/* tabs */
.tabs_wrapper{padding-bottom: 18px;}
.tabs{display: flex;}
.tabs li {width: 170px;height: 80px;margin-right: 2px;}
.tabs a {display: block;text-align: center;color: #fff;background: #b6c3cb;padding: 9px 20px 1px;}
.tabs a:hover{background: rgba(88, 111, 141,.8);color: #fffd86;}
.tabs a.active {background: #586f8e;color: #fffd86;}
.tabs a div{padding: 20px;}
.tabs a span{display: block;}
.tabs_tit{display: block; height: 53px;border-bottom: 1px solid #e8e9ed; line-height: 53px;text-align: center; font-size: 14px; text-overflow: ellipsis; overflow: hidden;white-space: nowrap; width: 190px;padding: 0 20px;}
.tabs .sub_tit{font-size: 14px; text-align: left;}
.tabs .sub_num{font-size: 30px; text-align: right;}

.tabgroup{display: flex;background: #586f8e;}
.tabgroup .tab_list {padding: 30px;width: 100%;display: flex;overflow: hidden;padding: 40px 0 33px 100px ;position: relative;}
.tabgroup .tab_cont{width: 190px; height: 216px; margin-right: 18px;background: #fff;}

.tab{position: relative;}
.tab a{ display: block;position: relative;}
.prev_next_btn .prev,.prev_next_btn .next{position: absolute;cursor: pointer;background: rgba(88, 111, 141,.5);z-index: 20;}
.prev_next_btn img{padding: 128px 30px 119px 33px;}
.tab .next{right: 0px;}
.tab span.state{position: absolute; width: 40px;height: 40px;display: inline-block; line-height: 40px;left: 160px;top: -20px; border-radius: 50%;text-align: center;font-size: 12px;}
.tab span.delay{background: #f35a48; color: #fff;}
.tab span.normal {background: #4fbac4 ; color: #fff;}
.tab a .tab_tit{ display: block; height: 53px;border-bottom: 1px solid #e8e9ed; line-height: 53px;text-align: center; font-size: 14px;}

.tab .tabs_cont{max-width: 190px;padding: 20px 20px 10px; }
.tabs_cont .charts{width: 100%; display: flex;}
.tabs_cont .charts .chart_label{font-size: 12px;}
.tabs_cont .charts .percentage{margin-right: 8px; color: rgb(88, 112, 140); font-size: 18px; text-align: end; width: 55px;}
.tabs_cont .charts .percentage .big{font-size: 30px;}
.tabs_cont .charts .right{margin-top: 6px;width: 85px;}

.charts .chart_horiz{position: relative; left: 3px;width: 85px; height: 5px; background: #e6eaeb;}
.charts .chart_horiz .chart_bar{height: 5px;margin-bottom: 10px;background: #586f8e; margin-top: 10px;position: absolute;top: -10px; z-index: 2;}
.charts .secondary,.charts .secondary span{color: #4eb9c1;}
.charts .chart_horiz .secondary{background: #4eb9c1;}

.tabs_cont .term{font-size: 12px; color: #818085; padding-top: 18px; letter-spacing: -.5px;text-align: center;}

.first_half_year h3.sub_title{font-size: 16px; margin: 30px 30px 23px;}
.first_half_year .chart_wrap{display: flex;}
.first_half_year .chart_wrap .budget_wrap, .chart_wrap .used_wrap{margin-right: 38px;}

/* budget_wrap */
.first_half_year .budget_wrap{margin-left: 11px; width: 457px;padding: 0 10px; margin-bottom: 32px;}
.first_half_year .budget_wrap p{font-size: 12px; text-align: right;margin-right: 20px;}

/* used_wrap */
.first_half_year .used_wrap{width: 195px; height: 260px;border-bottom: 1px solid #dee1e8;padding: 10px;}
.first_half_year .used_wrap .graphic{margin-left: 21px; height: 128px;}
.first_half_year .used_wrap .graphic .text{font-size: 12px; font-weight: 600;text-align: center;margin: 0 auto;}
.first_half_year .used_wrap .graphic .text .num{font-size: 18px; font-weight: 400;margin-top: -3px;}
.first_half_year .used_wrap .total{width: 135px; height: 246px;margin: 3px 0 0 18px; background: url(../images/dot_pattern.jpg);position: relative; border: 1px solid #d6dfe6;}
.first_half_year .used_wrap .total .total_cont{margin-top: 26px; color: #57728f;position: absolute;left: 16px;}

/* used */
.first_half_year .used_wrap .used{width: 125px; background: #f79185;position: absolute;margin: 0 auto;bottom:0;left: 4px;transition: height .5s;}
.first_half_year .used_wrap .used_cont{color: #fff; margin-top: 30px; position: absolute;bottom: 15px;left: 5px;}
.first_half_year .used_wrap .total p{text-overflow: ellipsis; overflow: hidden;white-space: nowrap; width: 100px;margin: 0 auto;text-align: center;font-size: 12px;}
.first_half_year .used_wrap .total .num{margin-top: -6px; font-size: 18px;}
.first_half_year .used_wrap .used_cont p.big{font-size: 28px; margin-top: 4px; margin-left: 15px;text-align: center;}
.first_half_year .used_wrap .used_cont p.big .small{font-size: 20px;}

/* remaining_wrap */
.first_half_year .remaining_wrap{width: 250px; height: 285px;margin-right: 0;padding: 0 10px;}
.first_half_year .remaining_wrap ul{margin-top: 14px;}
.first_half_year .remaining_wrap ul li{width: 230px;height: 34px;display: flex;justify-content: space-between;color: #fff;line-height: 34px;margin-bottom: 3px;padding: 0px 20px;}
.first_half_year .remaining_wrap ul li:nth-child(1){background: #4eb9c1;}
.first_half_year .remaining_wrap ul li:nth-child(2){background: #8294aa;}
.first_half_year .remaining_wrap ul li:nth-child(3){background: #9ca9bc;}
.first_half_year .remaining_wrap ul li:nth-child(4){background: #aab6c6;}
.first_half_year .remaining_wrap ul li:nth-child(5){background: #b9c3cf;}
.first_half_year .remaining_wrap ul li:nth-child(6){background: #c6ced9;}
.first_half_year .remaining_wrap ul li .month{font-size: 12px;}
.first_half_year .remaining_wrap ul li .remain_budget{font-size: 18px;overflow: hidden;text-align: end;text-overflow: ellipsis;white-space: nowrap;}

/* project.html */

.main_project{padding: 30px 0;background: #f3f3f3;}
.main_project h2{color: #2f2f31; padding-bottom: 20px;}
.main_project .project_area {font-size: 12px; display: flex; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #dfdfdf;}
.main_project .project_area>div{border-right: 1px solid #dddee0; padding: 15px 20px;}
.main_project .project_area>div:last-child{border-right: none;}
.main_project .project_area .tit{padding-right: 20px; color: #878789;}
.main_project .project_area .content{color: #2c2b31; font-weight: 600;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.main_project .project_area .project_name{width: 310px;}
.main_project .project_area .ptb{width: 185px;}
.main_project .project_area .budget{width: 258px;}
.main_project .project_area .term{width: 268px;}

.today_state_wrap{background: #f3f3f3;}
.today_state_wrap .state_top{display: flex;justify-content: space-between;align-items: center;}
.state_top .state_right{display: flex;}
.state_top .terms_btn{display: flex;}
.state_top .terms_btn .t_btn{width: 74px; height: 30px;cursor: pointer; margin-right: 1px;color: #fff;text-align: center; line-height: 30px; font-size: 12px;}
.state_top .terms_btn .is_on{background: #57718a; }
.state_top .terms_btn .month1{background: #b5bfcb;}
.state_top .terms_btn .month6{background: #b5bfcb;}
.state_top .terms_btn .month1:hover,.state_top .terms_btn .month6:hover{background: rgba(88, 111, 141,.8);}
.state_top .btns {cursor: pointer;display: flex;height: 30px; font-size: 12px;text-align: center;line-height: 30px;}
.state_top .btns:before{content: '|';width: 1px;height: 30px;color: #dfdfdf;display: inline-block;margin:0 14px;}
.state_top .btns .download{border:1px solid #c9cacc;width: 112px;color: #636e82;margin-right: 4px;}
.state_top .btns .download:hover{border-color: #4eb9c1;color: #4eb9c1;}
.state_top .btns .update{width: 64px; color: #fff;background: #4eb9c1;}
.state_top .btns .update:hover{background: #53c6cf;}

.sub_table{font-size: 12px;}
thead{border-top: 1px solid #cbcbcd;border-bottom: 1px solid #cbcbcd;background-color: #e3e7ea;height: 30px;line-height: 30px;}
.sub_table tbody tr td{height: 29px;line-height: 29px;border-bottom: 1px solid #cbcbcd;}
.sub_table td{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}

.today_state_wrap .main_table{margin-top: 10px;}
.main_table table{font-size: 12px; width: 100%;position: relative;}
.main_table table thead{border-top: 1px solid #2b2c30; border-bottom: 1px solid #d6d7d9;}
.main_table table th{color: #414a51; border-right: 1px solid #d0d4d7; height: 30px; background: #e2e7ea;vertical-align: middle;}
.main_table table th[colspan="20"]{border-bottom: 1px solid #d0d4d7;}
.main_table table tbody{background: #fff;}
.main_table table td{position:relative;height:40px;line-height: 40px;border: 1px solid #d6dde3;}
.main_table table td>div{position:absolute;top:50%;left:0;right:-1px;margin-top:-4px; height: 8px;z-index: 50;}
.main_table table th.border_none{border-right: none;}

.main_table table td:first-child{border-left: none;}
.main_table table td:last-child{border-right: none;}
.main_table table .overall, .main_table table .activity,.main_table table .manager{text-overflow: ellipsis;overflow: hidden;white-space: nowrap; padding: 0 10px;}
.main_table table .confirm_btn{display: flex;justify-content: center;align-items: center;}
.main_table table .confirm_btn>div{width: 43px;height: 24px; color: #fff;line-height: 24px;cursor: pointer;}
.main_table table .confirm_btn .ok_btn{background: #5b6e8f; margin-right: 4px;} 
.main_table table .confirm_btn .ok_btn:hover{background: #1a2c52;}
.main_table table .confirm_btn .reject_btn{background: #f69189;}
.main_table table .confirm_btn .reject_btn:hover{background: #df6244;}
.main_table table .output_btn{background: url(../images/output.jpg) no-repeat;width: 24px;height: 24px; display: inline-block;vertical-align: middle;cursor: pointer;position: unset;}
.main_table table .output_btn:hover{background: url(../images/output_hover.jpg) no-repeat;}
.main_table .today_line{position: absolute; width: 1px; height: 327px;background: #d0b05d;top: 4px;z-index: 60;}
.main_table .today_line::before{content: '';width: 9px;height: 9px;display: inline-block; background: #d0b05d;border-radius: 50%;position: absolute; top: -5px; left: -4px;}
.main_table .today_line::after{content: '';width: 9px;height: 9px;display: inline-block; background: #d0b05d;border-radius: 50%;position: absolute; bottom: -5px; left: -4px;}

.project_board_wrap{padding-top: 55px;background: #f3f3f3;}
.project_board_wrap>.inner{display: flex;}
.project_board_wrap .container_item{margin-right: 20px;}

/* progress_wrap */
.project_board_wrap .progress_wrap .progress_chart{width: 338px; height: 318px;background: #fff;margin: 12px 0px 0 0;border: 1px solid #e7e7e7;}
#chartdiv {background: #fff;width: 334px;height: 317px;}

/* personnel_wrap */
.personnel_wrap .personnel_top{display: flex;justify-content: space-between;}
.more{line-height: 16px;}
.more a{font-size: 12px; color: #7e7e7e;}
.more a .more_btn{background: url(../images/more.jpg) no-repeat; width: 6px; height: 11px; display: inline-block;vertical-align: middle;}

.personnel_wrap .runout_rate_wrap{width: 279px;height: 95px; background: #586f8e; display: flex;justify-content: space-between;margin-top: 12px;padding: 20px;}
.runout_rate_wrap .runout_mm{color: #fff;}
.runout_rate_wrap>div>p:nth-child(1){font-size: 12px;}
.runout_rate_wrap>div>p:nth-child(2){font-size: 28px;}
.runout_rate_wrap div .slash{font-size: 26px;}
.runout_rate_wrap div .small{font-size: 14px;}
.runout_rate_wrap .runout_rate{width: 82px;text-align: right;}
.runout_rate_wrap .runout_rate p{color: #fffa8d;font-size: 28px;}
.runout_rate_wrap .runout_rate p .small{margin-left: 0;}

.personnel_rate{margin-top: 10px;width: 100%;}

/* budget_wrap */
.budget_used{width: 363px;height: 184px;background: #fff;border: 1px solid #e7e7e7;margin-top: 12px;}
.budget_used .budget_chart_wrap{border-bottom: 1px solid #efefef;padding-bottom: 10px;}
.budget_used p{padding: 10px 20px; font-size: 12px; text-align: end;}
.budget_used .line_chart{display: flex;align-items: center;justify-content: space-between;}
.budget_used .line_chart span:nth-child(1){font-size: 12px;padding: 10px 20px;font-weight: 600;}
.budget_used .line_chart span.budget{font-size: 18px; text-align: right;margin: 0 16px 0 0;width: 90px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.budget_used .line_chart .line_wrap{width: 170px;height: 8px;background: #e6eaeb;position: relative;}
.budget_used .line_chart .line_wrap .chart_bar{position: absolute;height: 8px; z-index: 50;}

.budget_bottom{display: flex;justify-content: space-between;align-items: center;padding: 0 20px;}
.budget_bottom .runout_percentage{font-size: 12px;font-weight: 600;}
.budget_bottom span{color:#eb5e4a;font-size: 30px;font-weight: 600;width: 60px;text-align: right;}
.budget_bottom span>.small16{font-size: 16px;}

.budget_wrap table{margin-top: 10px;width: 100%;}

footer{height: 87px;background: #f3f3f3;width: 100%; text-align: center;}
footer p{line-height: 87px; font-size: 10px;color: #a4a4a6;}